/**
 * Place your custom CSS styles here.
 **/
 #github_search_box_widget{
 	margin-bottom: 10px;
 	width: 100%;
 	float: left;
 	display: none;	
 }

 .github_search_box{
 	height: 30px;
 	width: 100%;
 	padding-right: 50px;	
 }

 .github_search_box:focus{
 	outline: none;
 }

 #github_search_raw_button{
 	height: 30px;
 	width: 10%;	
 	background-color: #ddd;
 	font-size: 13px;
 	border: rgb(204, 204, 204);
 	border-style: solid;
 	border-width: 1px;
 	border-radius: 0 4px 4px 0 !important;
 }

 #github_search_raw_button{
 	outline: none;
 }

 .github_search_item {
 	float: right;
 	color: grey;
 }

 .easy-autocomplete{
 	float: left;
 	width: 90% !important;
 }

 .easy-autocomplete input{
 	border-radius: 4px 0 0 4px !important;
 }

 .easy-autocomplete-container{
 	float: left;
 }

 ::-webkit-input-placeholder {
 	opacity: 1 !important;
 }